<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Labels</title>
    <script>
        function updateLabel(filename) {
            var label = document.getElementById(filename).value;
            fetch('/update_label', {
                method: 'POST',
                body: new URLSearchParams({
                    'filename': filename,
                    'label': label
                })
            });
        }
    </script>
</head>
<body>
    <div>
        {% for image in images %}
            <div>
                <img src="{{ url_for('static', filename=image) }}" alt="{{ image }}">
                <input type="text" id="{{ image }}" value="{{ labels.get('plates/' + image, '') }}" onblur="updateLabel('{{ image }}')">
            </div>
        {% endfor %}
    </div>
</body>
</html>
